
  .video {
    border-radius: 20px;
    width: 100%;
  }

  .displayName {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

/* .chat {
  width: 200px;
  padding: 10
} */

.videos {
  /* float: left; */
  /* width: 80%; */
}

.chat {
  /* float: right;
  width: 20%;
  padding: 10 */
}

.bottom {
  /* 이 부분을 고정 */
  position:fixed;
  width: 100%;
  height: 10%;
  /* 하단에 여백 없이 */
  bottom: 0%;    
}